.homepage {
  background-image: url("../assets/landing-page-3.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;

  .search-input {
    width: 15rem;
  }

  input {
    width: 12rem;
    height: 2.5rem;
  }

  input:valid {
    font-size: 1.2rem;
    font-weight: 500;
  }
  label {
    font-size: 0.7rem;
    font-weight: 600;
    position: absolute;
    bottom: 3rem;
  }

  .input-container {
    margin: 1rem 0;
    position: relative;
  }

  .button {
    height: 2.5rem;
    width: 9rem;
    margin-bottom: 0.5rem;
  }
}
