.button {
  width: 100%;
  height: 2.5rem;
  margin-top: 0.6rem;
}

.description {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.4rem;
}

.title {
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.price {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.photo {
  height: 8rem;
  width: 6rem;
}

.places-list {
  padding: 2rem;
}

.place-row {
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .place-box {
    flex-grow: 2;
  }
  .button {
    margin: 0.5rem auto;
    width: 15rem;
  }
}
.place-row:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.marker-container {
  margin: 0.8rem 0 0.5rem 0.4rem;
}

.place-box {
  display: flex;
}

.gm-style .gm-style-iw {
  min-width: 270px !important;
  height: 14rem;
  max-height: unset;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
